.button {
    padding: 20px 30px;
    border-radius: 5px;

    &.button--hero {
        background-color: $btn-color;
        color: $white;
        font-family: OpenSans-extrabold;
        text-transform: uppercase;
        max-width: 210px;
        box-shadow: 0px 8px 1.4px 0.6px #000000;
    }
}