.mainsection {
    height: 140vh;
    background-image: url('../images/content/bg-hero.jpg');
    background-size: cover;
    background-position-y: 15%;
    clip-path: polygon(0% 0%, 0% 90%, 50% 100%, 100% 90%, 100% 0%);
}