.mainsection {
    height: 120vh;
    background-image: url('../images/content/bg-hero.jpg');
    background-size: cover;
    background-position-y: 15%;
    clip-path: polygon(0% 0%, 0% 85%, 50% 95%, 100% 85%, 100% 0%);
}