.navigation--header {
    .navigation__list {
        display: flex;
        justify-content: space-around;
    }
    .navigation__item {
        color: $main-color;
        transition: color 0.4s;
        &:hover {
            color: $text-in-dark;
            text-decoration: none;
            transition: color 0.4s;
        }
    }
}

/* .navigation__list {
    display: flex;
    justify-content: space-around;
} */