.navigation--header {
    .navigation__list {
        display: flex;
        justify-content: space-around;
    }
    
    .navigation__link {
        color: $main-color;
        transition: color 0.4s, border-color 0.4s;
        text-decoration: none;
        border-bottom: 1px solid $main-color;
        &:hover {
            border-color: rgba($main-color, 0);
            color: $text-in-dark;
            transition: color 0.4s, border-color 0.4s;
        }
    }
}
