.parts {
    margin-top: 70px;
}

.container--parts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parts__desc-wrap {
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
}

.parts__partners {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}