.phone {
    display: flex;
    flex-direction: column;
    .phone__number {
        font-family: OpenSans-bold;
        text-decoration: none;
        font-size: 30px;
        color: $main-color;
    }
    .phone__callback {
        font-size: 16px;
        color: $main-color;
        transition: color 0.4s;
        &:hover {
            text-decoration: none;
            color: $text-in-dark;
            transition: color 0.4s;
        }
    }
}