adress.info
    ul.info__list
        li.info__item--header
            .info__workingtime Пн-Пт: с 9 до 20
        li.info__item--header
            .info__adress ул. Луганская, 67
        li.info__item--header
            a(href="https://vk.com/pkf_almaz").info__social vk.com/pkf_almaz