.mainsection__dignity
    .container
        ul.mainsection__dignity-list
            li.mainsection__dignity-item
                .mainsection__dignity-number.dignity--skill 8
                .mainsection__dignity-desc Опыта
            li.mainsection__dignity-item
                .mainsection__dignity-number.dignity--proj 1000
                .mainsection__dignity-desc Завершенных проектов
            li.mainsection__dignity-item
                .mainsection__dignity-number.dignity--guar 5
                .mainsection__dignity-desc Гарантия