nav(class=`navigation navigation--header`) 
    ul(class=`navigation__list`)
        li(class=`navigation__item`) 
            a(href=`#services` class=`navigation__link`) Услуги
        li(class=`navigation__item`) 
            a(href="#diamond" class=`navigation__link`) Алмазное бурение
        li(class=`navigation__item`) 
            a(href="#conditioners" class=`navigation__link`) Кондиционеры
        li(class=`navigation__item`) 
            a(href="#reviews" class=`navigation__link`) Отзывы
    