mixin partners-list (items)
    - var items = [{partner: "Ballu", logo: "part-logos/ballu.png"}, {partner: "Electrolux", logo: "part-logos/electrolux.png"}, {partner: "Fujitsu", logo: "part-logos/fujitsu.jpg"}, {partner: "Тепломаш", logo: "part-logos/teplomash.png"}]
    .parts__partners-slider
        .parts__partners-controls
            a(href="#").parts__controls.controls--prev 
            a(href="#").parts__controls.controls--next 
        .parts__slider-wrap
            ul.parts__partners-list
                each item in items
                    li.parts__partners-item
                        +image(`${item.logo}`, "parts__logobox-img", `${item.partner}`)

+partners-list (items)