section.conditioners#conditioners
    .container.container--conditioners
        .conditioners__title-wrap
            h2.conditioners__title.section-title Сколько стоит кондиционер?
        .conditioners__desc.desc Сходу ответить на данный вопрос сложно, так как выбор кондиционера зависит от помещения для которого он будет предназначен.
        ul.conditioners__list
            li.conditioners__item
                .conditioners__img
                    +image("content/cond-1.jpg", "conditioners__pic", "Инверторные сплит-системы")
                .conditioners__info
                    h3.conditioners__title.block-title Инверторные сплит-системы
                    .conditioners__text (работают в режиме переменной производительности)
                    .conditioners__price 21 000
            li.conditioners__item
                .conditioners__img
                    +image("content/cond-2.jpg", "conditioners__pic", "On/off сплит-системы")
                .conditioners__info
                    h3.conditioners__title.block-title On/off сплит-системы
                    .conditioners__text (работают в режиме постоянной производительности)
                    .conditioners__price 14 300
        +button("button", "conditioners", "light", "Подобрать кондиционер")