section.conditioners
    .container
        h2.conditioners__title.section-title
        .conditioners__desc.desc
        ul.conditioners__list
            li.conditioners__item
                .conditioners__img
                    img.conditioners__pic(src="#", alt="conditioners")
                h3.conditioners__title.block-title
                .conditioners__text
                .conditioners__price 21 000
        include ./elems/button