section.diamond-drill#diamond
    .diamond-drill-bg
        .container.container--diamond-drill
            .diamond-drill__title-wrap
                h2.section-title.dark Алмазное бурение
            .diamond-drill__desc-wrap
                .desc.dark Высокоточное бурение отверстий под коммуникации диаметром до 325мм, глубиной до 2000мм в любых материалах.
            .diamond-drill__btn-wrap
                a.diamond-drill__btn-link(target="_blank" href="http://almaz43-company.ru/")
                    +button("button", "dimond-drill", "dark", "узнать стоимость")