footer.footer
    .container
        a.footer__logo(href="#")
        ul.footer__list
            li.footer__item
                a.footer__link
        include ./elems/adress-info
        include ./elems/phone