footer.footer
    .container.container--footer
        a.footer__logo(href="#") 
            +image("content/logo-footer.png", "footer__logo-img", "Логотип ПКФ Алмаз")
        ul.footer__list
            li.footer__item
                a.footer__link(href="#spec") Вызвать специалиста
            li.footer__item
                a.footer__link(href="#question") Отправить вопрос
            li.footer__item
                a.footer__link(href="#conditioners") Подобрать кондиционер
            li.footer__item
                a.footer__link(href="#projects") Заказать проект
            li.footer__item
                a.footer__link(href="#diamond") Заказать алмазное бурение
        adress.info.info--footer
            ul.info__list
                li.info__item
                    .info__workingtime Пн-Пт: с 9 до 20
                li.info__item
                    .info__adress ул. Луганская, 67
                li.info__item
                    a(href="https://vk.com/pkf_almaz").info__social vk.com/pkf_almaz
        +phone("footer")