section.free#projects
    .free__bg-wrap
        .container.container--free
            .free__title-wrap
                h2.free__title.section-title.dark оставьте заявку и мы подготовим проектное решение <span>бесплатно!</span>
                a.free__example.imgPopup-project(href="./example.pdf"  target="_blank" ) Пример проектного решения
            form.free__project-form#formFree
                label.project-form__lbl
                    input#username(type="text", name="name" class="project-form__lbl-input form__input" required)
                    .error
                    .free__input-icon.input__icon 
                    .free__input-title.input__title Ваше имя
                label.project-form__lbl
                    input#userphone(type="tel", name="phone" class="project-form__lbl-input form__input" required)
                    .error
                    .free__input-icon.input__icon 
                    .free__input-title.input__title Ваш номер телефона

                .form__overlay#formOverlayFree
                button(type="submit", class=`button button--free dark` id=`sendFreeForm`) Отправить заявку