header.mainsection__header.header
    .container.container--header
        .header__top-wrap
            .header__logo
                +image('content/logo-head.png', 'header__logo-img', 'Логотип "ПКФ Алмаз"')
            .header__information
                include ./elems/adress-info
                .header__information-sale 
                    .header__information-sale-text <span class="header__information-sale-attension">Внимание!</span>Скидки до 20% на кондиционеры и монтаж. <br />
                        a.header__information-sale-desc(href="tel:+79229105895") Подробности узнайте у менеджера.
            include ./elems/phone
        include ./elems/navigation
    