section.how-we-work
    .how-we-work__bg-wrap
        .container.container--how-we-work
            h2.how-we-work__title.section-title.dark Как мы работаем?
            ul.how-we-work__list
                li.how-we-work__item Бесплатный выезд, замер
                li.how-we-work__item проектирование, расчеты, согласование проекта
                li.how-we-work__item поставка оборудования согласно проекта
                li.how-we-work__item монтаж и пусконаладка
                li.how-we-work__item гарантийное и сервисное обслуживание