.imgPopup__container
    .imgPopup__wrap
        .imgPopup__img-wrap
            button(type="button").imgPopup__btn-close 
            +image("content/example.jpg", "imgPopup__pic", "Пример проекта по вентиляции")