.imgPopup__container
    .imgPopup__wrap
        button(type="button").imgPopup__btn-close 
        .imgPopup__img-wrap
            +image("content/example.jpg", "imgPopup__pic", "Пример проекта по вентиляции")