section.parts
    .container
        h2.parts__title.section-title
        .parts__desc.desc
        .parts__partners
            h3.parts__partners-title.block-title
            .parts__partners-slider
                .parts__partners-controls
                ul.parts__partners-list
                    li.parts__partners-item