section.parts
    .container.container--parts
        .parts__title-wrap
            h2.parts__title.section-title Оборудование и комплектующие
        .parts__desc-wrap
            .parts__desc.desc Работаем только с добросовестными поставщиками, по реальным ценам, в кратчайшие сроки.
        .parts__partners
            h3.parts__partners-title.block-title Наши партнеры:
            include ./elems/partners-slider
            