section.question#question
    .question__bg-wrap
        .container.container--question
            .question__title-wrap
                h2.question__title.section-title.dark есть вопрос?
                .question__desc.desc.dark Задайте его напрямую нашим специалистам, заполнив форму. Мы ответим вам как можно быстрее.
            form.question__form.form(action="question")#formWithMessage
                label.question__form-lbl.form__lbl
                    input#name(type="text", name="name" class="question__input form__input" required)
                    .error
                    .question__input-icon.input__icon 
                    .question__input-title.input__title Ваше имя
                label.question__form-lbl.form__lbl
                    input#phone(type="text", name="phone" class="question__input form__input" required)
                    .error
                    .question__input-icon.input__icon 
                    .question__input-title.input__title Ваш номер телефона
                label.question__form-lbl.form__lbl
                    input#message(type="text", name="message" class="question__input form__input" required)
                    .error
                    .question__input-icon.input__icon 
                    .question__input-title.input__title Ваш вопрос
                .form__overlay#formOverlay  
                button(type="submit", class=`button button--question dark` id=`sendFormWithMessage`) Отправить вопрос