section.reviews#reviews
    .container.container--reviews
        .reviews__title-wrap
            h2.reviews__title.section-title Наши проекты и отзывы
        .reviews__slider
            #slider-reviews-wiget
            