section.reviews
    .container
        h2.reviews__title.section-title
        .reviews__slider
            .reviews__slider-controls
            ul.reviews__slider-list
                li.reviews__slider-item
                    .reviews__slider-img
                        img(src="#", alt="img")
                    .reviews__slider-content    
                        .reviews__slider-title.block-title
                        .reviews__slider-text
                        a.reviews__slider-link(href="#") 