section.services#services
    .container.container--services
        h2.services__title.section-title Наши услуги
        ul.services-list
            li.services-item Проектирование и экспертиза (<a href="./example.pdf"  target="_blank" class="services__item-link imgPopup-proj">Пример проекта</a>)
            li.services-item Подбор и поставка оборудования
            li.services-item Монтажные работы
            li.services-item Пусконаладочные работы
            li.services-item обслуживание и эксплуатация
            li.services-item паспортизация
            li.services-item алмазное бурение (<a href="http://almaz43-company.ru/" class="services__item-link" target="_blank">Подробнее</a>)