include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title ПКФ Алмаз | Вентиляция и кондиционирование под ключ
    // Yandex.Metrika counter
    script(type='text/javascript').
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
      ym(55520197, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
      });
    
  body
    .wrapper
      ul(class=`navigationTop__list`)
          li(class=`navigation__item`) 
              a(href=`#main` class=`navigation__link`) Главная
          li(class=`navigation__item`) 
              a(href=`#object` class=`navigation__link`) Объекты
          li(class=`navigation__item`) 
              a(href=`#services` class=`navigation__link`) Услуги
          li(class=`navigation__item`) 
              a(href="#diamond" class=`navigation__link`) Алмазное бурение
          li(class=`navigation__item`) 
              a(href="#conditioners" class=`navigation__link`) Кондиционеры
          li(class=`navigation__item`) 
              a(href="#reviews" class=`navigation__link`) Отзывы
          li(class=`navigation__item`) 
              a(href="tel:+79229105895" class=`navigation__link navigation__link--tel`) +7 (922) 910 58-95
      .maincontent
        include ./components/mainsection
        include ./components/objects
        include ./components/services
        include ./components/diamond-drill
        include ./components/parts
        include ./components/free
        include ./components/conditioners
        include ./components/how-we-work
        include ./components/reviews
        include ./components/question
      include ./components/footer
      include ./components/formMain
      include ./components/formCond
      include ./components/formPhone
      include ./components/imgPopup

      include ./templates/entry.pug