include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title ПКФ Алмаз | Вентиляция и кондиционирование под ключ
  body
    .wrapper
      .maincontent
      include ./components/mainsection
      //- include ./components/objects
      //- include ./components/services
      //- include ./components/diamond-drill
      //- include ./components/parts
      //- include ./components/free
      //- include ./components/conditioners
      //- include ./components/how-we-work
      //- include ./components/reviews
      //- include ./components/question
      //- include ./components/footer

